.courseInfo {
  display: flex;
  flex-direction: column;
  width: 1125px;
  margin: auto;
}
.courseInfo > div:last-of-type {
  width: 100%;
  text-align: right;
  margin-top: 20px;
}

.courseInfoTitle {
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 30px;
}

.courseDescription {
  background-color: white;
  padding: 60px;
}

.courseDescription > div:first-of-type {
  margin-bottom: 10px;
  font-weight: bold;
}

tr > td:first-of-type {
  margin-bottom: 10px;
  font-weight: bold;
}

.courseDescriptionLayout {
  display: flex;
  margin: auto;
}

.courseDescriptionText {
  text-align: justify;
  border-right: 1px solid #e8e8e8;
  padding-right: 20px;
  width: 487px;
  font-size: 20px;
}

.courseDescriptionMetadata {
  padding-left: 20px;
}

tr td {
  padding-top: 6px;
  padding-bottom: 6px;
}

tr td:last-of-type {
  padding-left: 20px;
}

.courseDescriptionButton {
  margin-top: 30px;
  width: 185px;
}

.courseIsNotFound {
  margin: auto;
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
}

