.card {
  width: 700px;
  display: flex;
  border-left: 5px solid;
  background-color: white;
  border-radius: 4px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.left {
  width: 70%;
  margin-right: 30px;
}

.title {
  font-weight: bold;
  margin: 10px;
}

.description {
  margin: 10px;
  text-align: justify;
}

.right {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.right p span {
  font-weight: bold;
}

.card-button {
  margin-top: auto;
  margin-bottom: 10px;
}

.right p {
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
