.authorItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.authorItemName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.authorItemButton {
  font-size: 18px;
  margin-left: 10px;
}
