  .header {
    width: 70%;
    height: 40px;
    background-color: white; 
  }

  .title {
    vertical-align: middle;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    padding-left: 100px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 10px;
    width: 80%;
    border: 1px solid red;
  }

  .headerbutton {
    margin-top: 10px;
    float: right;
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    border: 1px solid red;
  }

  .headerlogo {
    width: 20%;
    height: 100%;
    float: left;
  }
