.registration {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  
  .header {
    margin: auto;
    margin-top: 200px;
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .body {
    width: 585px;
    height: 558px;
    display: flex;
    margin: auto;
    background-color: white;
    flex-direction: column;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    font-size: 16px;
  }
  
  form {
    margin: auto;
    width: 286px;
    margin-bottom: 0;
  }
  
  label {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  label input {
    padding-top: 0;
    padding-bottom: 0;
    height: 48px !important;
    padding-left: 15px;
    font-size: 16px; 
  }
  
  label b {
    display: block;
  }
  
  .regButton {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  .regButton button {
    height: 50px !important;
    width: 282px;
    font-size: 16px; 
  }
  
  .regHelp {
    margin: auto;
    margin-top: 0px;
  }

  .error {
    color: red;
  }
  
  .errorBorder {
    border-color:red;
  }